<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
rel="stylesheet"
id="bootstrap-css"
/>


<link rel="stylesheet" href="./static/register.css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>
<div class="container">
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px">
<h4 class="card-title mt-3 text-center">Create Account</h4>
<p class="text-center">Get started with your free account</p>
<p>
<a href="" class="btn btn-block btn-twitter">
<i class="fab fa-twitter"></i> Login via Twitter</a
>
<a href="" class="btn btn-block btn-facebook">
<i class="fab fa-facebook-f"></i> Login via facebook</a
>
</p>
<p class="divider-text">
<span class="bg-light">OR</span>
</p>
<form action="/register" method="POST">
<div class="form-group input-group">
<div class="input-group-prepend">
<span class="input-group-text"> <i class="fa fa-user"></i> </span>
</div>
<input
class="form-control"
placeholder="First Name"
type="text" name="first_name"
/>
<input
class="form-control"
placeholder="Last Name"
type="text" name="last_name"
/>
</div>
<!-- form-group// -->
<div class="form-group input-group">
<div class="input-group-prepend">
<span class="input-group-text"> <i class="fa fa-user"></i> </span>
</div>
<input
class="form-control"
placeholder="Username"
13|P a g e
type="username"
name="username"
/>
</div>
<!-- form-group// -->
<div class="form-group input-group">
<div class="input-group-prepend">
<span class="input-group-text">
<i class="fa fa-envelope"></i>
</span>
</div>
<input
class="form-control"
placeholder="Email address"
name="email"
type="email"
/>
</div>
<!-- form-group// -->
<div class="form-group input-group">
<div class="input-group-prepend">
<span class="input-group-text">
<i class="fa fa-calendar" aria-hidden="true"></i>
</span>
</div>
<input
class="form-control"
placeholder="Date Of Birth"
type="date"
name="dob"
/>
</div>
<div class="form-group input-group">
<div class="input-group-prepend">
<span class="input-group-text">
<i class="fa fa-home" aria-hidden="true"></i>
</span>
</div>
<input
class="form-control"
placeholder="Address"
type="text"
name="address"
/>
</div>
<div class="form-group input-group">
<div class="input-group-prepend">
<span class="input-group-text">
<i class="fa fa-home" aria-hidden="true"></i>
</span>
</div>
<input
class="form-control"
placeholder="City"
name="city" type="text"
/>
<input
class="form-control"
placeholder="Zip"
name="zip" type="text"
/>
</div>
<div class="form-group input-group">
<div class="input-group-prepend">
<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
</div>
<input
class="form-control"
placeholder="Phone number"
name="contact"
type="text"
/>
</div>
<!-- form-group// -->
<div class="form-group input-group">
<div class="input-group-prepend">
<span class="input-group-text">
<i class="fa fa-building"></i>
</span>
</div>
<select class="form-control" name="gender">
<option selected="">Gender</option>
<option>Male</option>
<option>Female</option>
<option>Other</option>
</select>
</div>
<!-- form-group end.// -->
<div class="form-group input-group">
<div class="input-group-prepend">
<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
</div>
<input
class="form-control"
placeholder="Create password"
name="password"
type="password"
/>
</div>
<!-- form-group// -->
<div class="form-group input-group">
<div class="input-group-prepend">
<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
</div>
<input
class="form-control" placeholder="Repeat
password" name="repeatPassword"
type="password"
/>
</div>
<!-- form-group// -->
<div class="form-group">
<button type="submit" class="btn btn-primary btn-block"> Create
Account
</button>
</div>
<!-- form-group// -->
<p class="text-center">Have an account? <a href="">Log In</a></p>
</form>
</article>
</div>
<!-- card.// -->
</div>
<!--container end.//-->