<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
          <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(static/bg.jpg);"></a>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="/userlist" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categories</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
            <a href="/books">Books</a>
        </li>
        <li>
            <a href="/stamps">Stamps</a>
        </li>
        <li>
            <a href="/magazines">Magazines</a>
        </li>
        </ul>
      </li>
      <li>
          <a href="/wishlist">Wishlist</a>
    </li>
    <li>
      <a href="sell">Wanna Sell!</a>
  </li>
      <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Account</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
            <a href="/orders">Orders</a>
        </li>
        <li>
          <a href="/listings">My Listings</a>
      </li>
        <!-- <li>
            <a href="#">Settings</a>
        </li>
        <li>
            <a href="#">Notifications</a>
        </li> -->
      </ul>
      </li>
      <li>
      <a href="profile">Profile</a>
      </li>
      <li>
      <a href="/contact_us">Contact Us</a>
      </li>
    </ul>

  </div>
</nav>